@model List<Shop_MVC_VPD_121.Entities.Product>;

<h1>Product List</h1>
<p>You can manage all the available products here...</p>
<a asp-action="Create" class="btn btn-primary">Create New Product</a>
<hr />

@* Razor Syntax: @{...C# code...} @if @for *@

@*<ul>
    @foreach (var p in Model)
    {
        <li>@p.Id: @p.Name @p.Price$</li>
    }
</ul>*@

<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Price</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr class="align-middle">
                <th scope="row">@p.Id</th>
                <td>@p.Name</td>
                <td>@p.Category</td>
                <td>@p.Price$</td>
                <td>
                    <div class="btn-group" role="group">
                        <a asp-action="Details" asp-route-id="@p.Id" class="btn btn-secondary">Details</a>
                        <a asp-action="Delete" asp-route-id="@p.Id" class="btn btn-danger">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>Count: @Model.Count</p>