@model List<Data.Entities.Product>;

<h1>Product List</h1>
<p>You can manage all the available products here...</p>
<a asp-action="Create" class="btn btn-primary">Create New Product</a>
<hr />

<form class="row g-3">
    <div class="col input-group mb-3">
        <label class="input-group-text" for="sortSelect">Sort By</label>
        <select class="form-select" id="sortSelect" onchange="SortIndexChanged()">
            <option selected>Id</option>
            <option>Name</option>
            <option>Price</option>
        </select>
    </div>
    <div class="col input-group mb-3">
        <label class="input-group-text" for="filterSelect">Filter By</label>
        <select class="form-select" id="filterSelect">
            <option selected>None</option>
            <option value="1">Availability</option>
            <option value="2">Discount</option>
            <option value="3">Category</option>
        </select>
    </div>
</form>

@* Razor Syntax: @{...C# code...} @if @for *@

@*<ul>
    @foreach (var p in Model)
    {
        <li>@p.Id: @p.Name @p.Price$</li>
    }
</ul>*@

<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Availability</th>
            <th scope="col">Category</th>
            <th scope="col">Price</th>
            <th scope="col">Discount</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr class="align-middle">
                <th scope="row">@p.Id</th>
                <td>@p.Name</td>
                <td>
                    @if(p.InStock)
                    {
                        <span class="badge bg-success">In Stock</span>
                    }
                    else
                    {
                        <span class="badge bg-secondary">Out of Stock</span>
                    }
                </td>
                <td>@(p.Category?.Name ?? "not loaded")</td>
                <td>@p.Price$</td>
                <td>@(p.Discount ?? 0)%</td>
                <td>
                    <div class="btn-group" role="group">
                        <a asp-action="Details" asp-route-id="@p.Id" class="btn btn-secondary">
                            <i class="bi bi-eye"></i>
                        </a>
                        <a asp-action="Edit" asp-route-id="@p.Id" class="btn btn-warning">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <a asp-action="Delete" asp-route-id="@p.Id" class="btn btn-danger">
                            <i class="bi bi-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>Count: @Model.Count</p>

@section Scripts 
{
    <script type="text/javascript">
        function SortIndexChanged() {
            const prop = sortSelect.value;

            $.ajax({
                url: '/products/sort',
                data: { property: prop }
            });
        }
    </script>  
}